player-connection-mode=Listen
player-connection-guid=3031514712
player-connection-debug=0
player-connection-project-name=MarcoPolo
player-connection-ip=192.168.100.62
player-connection-ip=192.168.56.1
player-connection-ip=26.234.30.190
player-connection-ip=172.25.224.1
player-connection-ip=172.29.48.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1b43ba6b0f214851847fe3714faea1b2
